.container {
  min-height: 100vh;
  background: var(--color-blue-8, rgba(10, 15, 30, 1));
  color: #e5e7eb;
  
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 1px solid #0f172a;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo span {
  color: #14b8a6;
  letter-spacing: 2px;
  font-family: DM Mono;
  font-weight: font weight/400;
  font-style: Regular;
  font-size: 13.6px;
  line-height: line height/22_44;
  letter-spacing: letter spacing/2_04;
  vertical-align: middle;
  text-transform: uppercase;
}

.navCenter {
  text-decoration: none;
  color: var(--color-grey-46, #6B7280);
  font-size: 12px;
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.72px;
  vertical-align: middle;
  text-transform: uppercase;
}

.signupBtn {
  text-decoration: none;
  width: 75px;
  height: 34px;
  border-radius: 2px;
  text-align: center;
  border-width: 1px;
  opacity: 1;
  border: 1px solid #FFFFFF12;
  color: var(--color-grey-91, #E5E7EB);
  font-family: DM Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 11.9px;
  line-height: 3;
  letter-spacing: 1.09;
  vertical-align: middle;
  text-transform: uppercase;

}
.content {
  display: flex;
  align-items: center;
}

/* RIGHT FORM */
.formSection {
  flex: 1;
  padding: 60px 80px;
}

.signinLabel {
  font-family: DM Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 9.6px;
  line-height: 100%;
  letter-spacing: 1.54px;
  vertical-align: middle;
  text-transform: uppercase;
  color:  var(--color-grey-46, #6B7280);

}

.title {
  font-family: Playfair Display;
  font-weight: 700;
  font-style: Bold;
  font-size: 27.2px;
  line-height: 32.64px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--color-grey-98, #F9FAFB);
}

.subtitle {
  margin-top: 0;
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 12.8px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--color-grey-46, #6B7280);
}

.infoBox {
  display: flex;
  border-top: 1px solid var(--color-cyan-4228, #00D4AA47);
  background: var(--color-cyan-428, #00D4AA14);
  margin-bottom: 25px;
  border-radius: 6px;
  border-width: 1px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  gap: 10px;
  opacity: 1;
}

.lock {
  margin-top: 2px;
}
.infoBox strong{
  font-family: DM Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 11.7px;
  line-height: 18.1px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--color-cyan-42, #00D4AA);
}
.infoBox p{
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 11.7px;
  line-height: 18.1px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--color-grey-91, #E5E7EB);
  margin-top: 0;
}
/* FORM */
.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: DM Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 11.8px;
  margin-top: 0;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 10px;
}
.formGroup label span {
  color: var(--color-cyan-42, #00D4AA);
  margin-top: 2px;
} 
.inputContainer {
  display: flex;
  padding-left: 12px;
  gap: 10px;
  align-items: center;
  border: 1px solid var(--color-white-11, #FFFFFF1C);
  background: var(--color-azure-15, #161F35);
  color: white;
  border-radius: 6px;
}
.inputContainer:focus-within {
  border: 1px solid var(--color-cyan-42, #00D4AA);  
  outline: none;
  
}
.formGroup input {
  width: 100%;
  padding: 12px 12px 12px 0;
  background: var(--color-azure-15, #161F35);
  outline: none;
  color: white;
  border: none;
}
.formGroup input:focus {
  outline: none;
  border: none;

}
.formGroup input::placeholder {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 13.4px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--color-grey-98, #F9FAFB);
}
.locks{
  margin-right: 15px;
  background: none;
  border: none;
  outline: none;
}
.formExtras {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 12px;
}
.formExtras label {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-grey-46, #6B7280);
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 11.7px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  cursor: pointer;
} 
.formExtras label input[type="checkbox"] {
  accent-color: #00D4AA; 
  cursor: pointer;
}

.forgot {
  color: var(--color-cyan-42, #00D4AA);
  cursor: pointer;
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 11.7px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: none;

}

/* BUTTONS */
.primaryBtn {
  width: 100%;
  padding: 14px;
  background: #14b8a6;
  border: none;
  border-radius: 6px;
  color:var(--color-blue-8, #0A0F1E);
  font-weight: bold;
  margin-bottom: 15px;
  font-family: DM Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 13.8px;
  line-height: 100%;
  letter-spacing: 0.41px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.secondaryBtn {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 1px solid #1e293b;
  border-radius: 6px;
  color:  var(--color-azure-65, #9CA3AF);
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 13.1px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.footer {
  text-align: center;
  margin-top: 20px;
  color: var(--color-grey-46, #6B7280);
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 11.8px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.footer a {
  text-decoration: none;
  color:  var(--color-cyan-42, #00D4AA);
  cursor: pointer;
}